/* books listing section */
.form-control.chapter-list{
	display: inline-block;
	height: 29px;
	margin: 20px 0;
	padding: 4px 12px;
}
.sidebar-margin-top{
	margin-top: 56px;
}
/* end books listing section */

.bootstrap-tagsinput {
    width: 100%;
}
#attachments .date{
	display: block;
}
#attachments .approve{
	width: 100%;
	display: block;
}
.categories_filters label{
	float: right;
}
.categories_filters label .bootstrap-tagsinput{
	width: 350px;
}

#process_output{
	max-height: 400px;
	overflow: auto;
}


#form_chapter_jump{
	margin: 16px 0;
}
#form_chapter_jump > input{
	width: 50%;
	display: inline-block;
}
.inline-form{
	display: inline;
}

body.dragging, body.dragging * {
  cursor: move !important;
}

.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}

ol.sortable li.placeholder {
  position: relative;
  /** More li styles **/
}
ol.sortable li.placeholder:before {
  position: absolute;
  /** Define arrowhead **/
}