BeautifulSoup==3.2.1
Django==1.6.2
Fabric==1.8.3
MySQL-python==1.2.5
PIL==1.1.7
Pillow==2.4.0
South==0.8.4
Unidecode==0.04.14
akismet==0.2.0
argparse==1.2.1
beautifulsoup4==4.3.2
coverage==3.7.1
django-ajax-selects==1.3.4
-e git+https://github.com/squallcs12/django-awesome-avatar.git@c912a9c37067a3938a2394d8e39d7e019d0696e9#egg=django_awesome_avatar-master
django-blog-zinnia==0.14.1
django-ckeditor-updated==4.2.8
django-coverage==1.2.4
django-extensions==1.3.3
django-jsonify==0.2.1
django-mailer==0.1.0
django-mobile==0.3.0
django-mptt==0.6.0
django-notification==1.1.1
django-postman==3.1.0
django-social-auth==0.7.28
django-tagging==0.3.2
django-xmlrpc==0.1.5
docutils==0.11
ecdsa==0.11
extras==0.0.3
facebook-sdk==0.4.0
factory-boy==2.3.1
fuzzywuzzy==0.2
gunicorn==18.0
httplib2==0.8
ipdb==0.8
ipython==2.0.0
-e git://github.com/gabrielfalcao/lettuce@a483847ed8de4485199e7edc587b5fa6d783da15#egg=lettuce-master
meld3==0.6.10
nose==1.3.1
oauth2==1.5.211
paramiko==1.12.3
paypalrestsdk==1.1.0
pycrypto==2.6.1
pyparsing==2.0.1
python-mimeparse==0.1.4
python-openid==2.2.5
python-subunit==0.0.18
python-termstyle==0.1.10
pytz==2014.2
redis==2.9.1
rednose==0.4.1
requests==2.2.1
selenium==2.41.0
six==1.6.1
supervisor==3.0
sure==1.2.5
testscenarios==0.4
testtools==0.9.35
wsgiref==0.1.2
