{% extends "accounts/base.html" %}
{% load url from future %}
{% load i18n %}{% load postman_tags %}
{% block title %}{% trans "Messaging" %}{% endblock %}

{% block link %}
	{{ block.super }}
	<link type="text/css" media="all" rel="stylesheet" href="
	{# dj v1.4 #}{% load static %}{% static 'postman/css/postman.css' %}
	{# dj v1.3 #}{# {{ STATIC_URL }}postman/css/postman.css #}
	{# dj v1.2 #}{# {{ MEDIA_URL }}postman/css/postman.css #}
	" />
{% endblock %}

{% block accounts-content %}
	{% block postman-content %}
	{% endblock %}
{% endblock %}